<html>
	<head>
		<title>Titre du site</title>

	</head>



	<body>
		<!--<header>
		<h1>{{page.titre}} </h1>
		<p>{{site.description}}<p>
		</header>-->
		{% include header.html %}
		<main>
		<p>{{site.p}}</p>
		<ul>
		{% for post in site.posts %}
		
			<li>
   			<a href="{{ post.url }}">{{ post.title }}</a>
			{{ post.auteur }}
			{{ post.date }}
			

			</li>
		
      			{{ post.excerpt }}
		
    		{% endfor %}
		</ul>		
		</main>
		<footer>
		{% include footer.html %}
		<footer>
	</body>
</html>
